.wrapper {
    background: linear-gradient(223deg, #393 0%, #006300 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 45px 0;
}

.textWrapper {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 46px;
}

.bigtextWrapper{
    font-size: 90px;
}

.imageWrapper img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.inputWrapper {
    margin-bottom: 30px;
}

.input {
    border: none;
    border-radius: 25px;
    background: #FFF;
    padding: 27px 50px;
    padding-right: 0;
    color: #6C6C6C;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
}

.formWrapper{
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.formButton {
    min-width: 33%;
    margin-top: 30px;
    border-radius: 25px;
    border: 2px solid #FFF;
    background: transparent;
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    padding: 20px 10%;
    margin-bottom: 45px;
    cursor: pointer;
}

.message {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    color: white;
}

.messageError {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: yellow;
}
