.label {
    font-size: 20px;
    font-weight: 600;
    display: grid;
    grid-template-areas: 
    "Price From To";
    align-items: center;
    gap: 20px;
}

.price {
    grid-area: Price;
}

.filterMainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
    margin-bottom: 47px;
}

.priceContainer {
    display: flex;
    gap: 15px;
    align-items: center;
}

.inputFrom {
    grid-area: From;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #000; 
    padding: 10px;
}

.inputTo {
    grid-area: To;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #000; 
    padding: 10px;
}

.inputSelect {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #000; 
    padding: 10px;
}

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


@media only screen and (max-width: 750px) {
    .label {
        grid-template-areas: 
        "Price From"
        "Price To"
        ;
    }
}