.itemWrapper {
    display: grid;
    grid-template-columns: auto 2fr 1fr 1fr 30px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "image title . . x"
    "image . priceDiscount oldPrice ."
    "image counter . . .";
    gap: 30px;
    border-top: 1px solid #A7A7A7;
    padding: 40px 0;
}

.itemWrapper + .itemWrapper {
    border-bottom: 1px solid #A7A7A7;
}

.imageWrapper {
    grid-area: image;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 194px;
    overflow: hidden;
}

.imageWrapper img{
    max-width: 100%;
    height: auto;
}

.title {
    grid-area: title;
    grid-column: auto;
    color: #3A3A3A;
    font-size: 18px;
}

.counter {
    grid-area: counter;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 12px;
    width: 140px;
    justify-content: space-between;
}

.counterButton {
    width: 18px;
    padding: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 12px;
    font-size: 18px;
}

.counterButton:hover {
    background-color: #e8e8e8;
    transition: all ease-in-out 0.3s;
}

.discountPrice {
    grid-area: priceDiscount;
    font-size: 40px;
    font-weight: 600;
    align-self: center;
    flex-grow: 1;
}

.dollarSign {
    font-size: 20px;
}

.oldPrice {
    grid-area: oldPrice;
    text-decoration: line-through;
    color: #8B8B8B;
    font-size: 20px;
    align-self: center;
}

.quantity {
    margin: 0;
    padding: 5px;
}

.closeButton {
    grid-area: x;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-self: end; 
    align-self: start;
}

@media only screen and (min-width: 750px) and (max-width: 1023px) {
/*    .itemWrapper {
        grid-template-areas: 
        "image x"
        "title ."
        "counter ."
        "priceDiscount oldPrice ."
        ;
    }
*/
}

@media only screen and (max-width: 750px) {
  .itemWrapper {
        grid-template-areas: 
        "image x"
        "title ."
        "priceDiscount ."
        "oldPrice ."
        "counter ."
        ;
        grid-template-columns: auto 30px;
        gap: 10px;
    }

    .title {
        width: auto;
    } 
}
