.modalBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(
        0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalWindow {
    background-color: #fff;
    padding: 25px;
    border: 2px solid black;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.modalWindowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    background-color: #393;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}